$primary: #88b4db;

body {
    margin: 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        text-align: center;
        transform-style: preserve3d;
        #four-1 {
            perspective: 40px;
        }
        .fillable {
            fill: $primary;
        }
    }
} // 388-734